html {
  font-size: 62.5%;
}

body {
  color: $dark-grey;
  font-family: Helvetica, Arial, sans-serif;
  font-size: $font-size-m;
  line-height: 1.6;
}

*, *:before, *:after {
  box-sizing: border-box;
}