// Breakpoints
$desktop-breakpoint: 45rem;
$phone-breakpoint: 30rem;

// Colors
$light-grey: #e6e6e6;
$dark-grey: #333333;
$dark-blue: #283144;
$blue: #1c88bf;

// Font sizes
$font-size-s: 1rem;
$font-size-m: 1.4rem;
$font-size-lg: 1.8rem;
$font-size-xl: 2.8rem;

// Spacings
$s-size: 1rem;
$m-size: 1.6rem;
$lg-size: 2rem;
$xl-size: 3.2rem;
$xxl-size: 5rem;
$desktop-breakpoint: 45rem;